.background-2{
    background: white;
}
.background{
    background: #F7F7F7;
    width: 100%;
    
}
.logo-image{
    position: relative;
    right: 67px;
}
.text-demo{
    position: relative;
    right: 35px;
    color: #707070;
}
.text-demo1{
    color: #707070;
}
.text-demo2{
    color: #707070;
    font-weight: 670;
}
.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-demo{
    background-color: #707070;
    padding: 5px;
    border-radius: 50px;
    width: 150px;
   
    color: white;
}
